PORT=3000
APP_DOMAIN=localhost:${PORT}
CORS_ALLOWED_LIST=["http://localhost:51286"]

# token
ACCESS_TOKEN_EXPIRATION_TIME=3600 #second
ACCESS_TOKEN_SECRET_KEY=12345678
ACTIVATE_EMAIL_TOKEN_EXPIRATION_TIME=86400 #second

# mongodb
MONGODB_HOST=localhost
MONGODB_PORT=27017
MONGODB_USER=admin
MONGODB_PASSWORD=12345678
MONGODB_DBNAME=cinema
MONGODB_CONNECTION_STRING=mongodb://${MONGODB_USER}:${MONGODB_PASSWORD}@${MONGODB_HOST}:${MONGODB_PORT}

# mailer
SMTP_HOST=smtp.gmail.com
SMTP_PORT=123   
SMTP_USER=abc@gmail.com
SMTP_PASS=12345678
